body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100lvh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 23px 30px 0px 30px;
}
.title {
    color: navy;
    font-size: 28px;
}

ul{
    display: inline-block;
    display: flex;
}

li {
    font-size: 17px;
    margin-left: 32px;

}

a{
    color: navy;
    font-weight: bolder;
    text-decoration: none;
}

.main{
    position: relative;

}

.main__img {
    width: 50%;
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 10;
}

.main__img img {
    width: 100%;
}
.main__copy {
    width: 75%;
    position: absolute;
    top:420px;
    bottom:0;
    z-index: -10;
}

.main__copy__txt {
    font-size: 80px;
}

.main__copy__card {
    background-color: navy;
    height: 200px;
    width: 100%;

}


