
header {
    display: flex;
    justify-content: space-between;
    margin: 18px 20px 0px 20px;
}
.title {
    color: navy;
    font-size: 20px;
}

ul{
    display: inline-block;
    display: flex;
}

li {
    font-size: 13px;
    margin-left: 25px;

}

a{
    color: navy;
    font-weight: bolder;
    text-decoration: none;
}

.main{
    position: relative;
}

.main__img {
    width: 50%;
    position: absolute;
    top: auto;
    right: 0;

}

.main__img img {
    width: 100%;
}
.main__copy {
    width: 75%;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.main__copy__txt {
    font-size: 50px;
}

.main__copy__card {
    background-color: navy;
    height: 150px;
    width: 100%;
}


